$primary-color: #255967;
$secondary-color: rgb(194, 182, 114);
$tertiary-color: rgb(241, 241, 241);
$color-background: rgba(224, 224, 224, 0.76);
$color-background-cards: rgb(255, 255, 255);
$color-shadow-cards: #3A3838;
$color-shadow-cards02: #7a7a7a;
$font-strong-color: #fe5e41;
$font-strong-color02: rgb(71, 62, 201);
$animation-loading:#2196F3;